Repository bluecheetah/pybind11_generics_tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, format_rst, isort, black, mypy, flake8

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        types_or: [c, c++]
      - id: format_rst
        name: format_rst
        entry: ./format_rst.sh
        language: system
        types_or: [rst]
      - id: isort
        name: isort
        entry: python -m isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: python -m black
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: python -m mypy
        language: system
        types: [python]
        exclude: ^\.vscode/
      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]

update project configuration.
  .flake8
  .mypy.ini
  pyproject.toml
  setup.cfg
  setup.py
  src/pybind11_generics_tests/__init__.py
  src/pybind11_generics_tests/cpp.pyi
  src/pybind11_generics_tests/py.typed
  src/pybind11_generics_tests/src_cpp/test_iterable.cpp
  src/pybind11_generics_tests/src_cpp/test_list.cpp
  src/pybind11_generics_tests/src_cpp/test_sequence.cpp
  tests/test_any.py
  tests/test_dict.py
  tests/test_iter.py
  tests/test_iterable.py
  tests/test_list.py
  tests/test_optional.py
  tests/test_sequence.py
  tests/test_tuple.py
  tests/test_union.py
  tests/util.py
Due: clang-format, isort, black, mypy, flake8

update copyright statements, submodule, and project configuration.
  .bashrc_python
  .flake8
  src/pybind11_generics_tests/__init__.py
  tests/__init__.py
  tests/test_any.py
  tests/test_dict.py
  tests/test_iter.py
  tests/test_iterable.py
  tests/test_list.py
  tests/test_optional.py
  tests/test_sequence.py
  tests/test_tuple.py
  tests/test_union.py
  tests/util.py
Due: isort, black, mypy, flake8

Update project, nox unit tests pass.
  noxfile.py
  pyproject.toml
  setup.cfg
Due: isort, black, mypy, flake8

update build configuration to enable incremental builds in unit testing.
  noxfile.py
  pyproject.toml
  setup.cfg
Due: isort, black, mypy, flake8

update pre-commit configuration.
  .pre-commit-config.yaml
Due: none

update project configuration.
  .doc8.ini
  .pandoc_rst.yaml
  .pre-commit-config.yaml
  format_rst.sh
Due: none

update README format.
  README.rst
Due: format_rst

update tests_require.
  setup.cfg
Due: none

update submodules and cmake configuration.
  CMakeLists.txt
Due: none

update project configurations.
  .mypy.ini
  pyproject.toml
Due: none

update vscode configuration.
  .vscode/settings.json
Due: none

update project configuration.
  .config_patch/pyproject.toml.patch
  .doc8.ini
  .flake8
  .mypy.ini
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
  setup.cfg
  src/pybind11_generics_tests/__init__.py
Due: isort, black, mypy, flake8

update .gitignore rules.
  .gitignore
Due: none

added run_test shell script to run unit tests without installing.
  run_test.sh
Due: none

update submodule and configuration files.
  .config_patch/pyproject.toml.patch
  .mypy.ini
Due: none

update project configurations.
  .mypy.ini
  .vscode/extensions.json
  .vscode/settings.json
Due: none

update submodule version and project configurations.
  .config_patch/pyproject.toml.patch
  .mypy.ini
  .vscode/.ropeproject/.gitignore
  .vscode/.ropeproject/config.py
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
Due: isort, black, flake8
